[Unit]
Description=EMS Marketplace Api
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/karem/Documents/EmsMarketplace/launchscripts/EmsApiScript.sh
User=root

[Install]
WantedBy=multi-user.target