.label2 {
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
  }
  .input-group {
    margin-bottom: 2rem;
  }
  .label-range {
    margin-bottom: 2.5rem;
  }